<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Joyería Web{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

        <header class="container">
            <h1>✨ Joyería Web</h1>
            <nav>
                <a href="/">Inicio</a>
                <a href="/catalogo">Catálogo</a>
            </nav>
            <hr>
        </header>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div id="modal" class="modal hidden">
            <div class="modal-content">
                <span id="modal-close">&times;</span>
                <img id="modal-img" src="" alt="">
                <h3 id="modal-nombre"></h3>
                <p id="modal-material"></p>
                <p id="modal-precio"></p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

    </body>
</html>